@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;800&display=swap');

:root {
    /* Colors */
    --orange: #ffb45c;
    --dark-orange: #eb9632;
    --dark-gray: #3f3f3f;
    --white: #ffffff;

    /* Typography */
    --base-font: 'Roboto', sans-serif;;
    --alt-font: 'Rubik', sans-serif;
    --button-font: 'Nunito', sans-serif;
}

* {
    font-family: var(--base-font);
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
body { background-color: var(--white); margin: 0; }
  
a { text-decoration: none; 
    &:hover { text-decoration: none; }
}

p, h1, h2, h3, h4, h5 {
    color: var(--dark-gray);
}

ul { color: var(--dark-gray); }
li { color: var(--dark-gray); }

h1, h2, h3, h4, h5, h6 {
    margin-top: 30px; margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.5;
    font-family: var(--alt-font);
    letter-spacing: -1px;
    text-align: center;
}

h6 { font-size: 16px; }
h5 { font-size: 18px; }
h4 { font-size: 20px; }
h3 { font-size: 26px; }
h2 { font-size: 28px; }
h1 { font-size: 32px; }

p {
    font-size: 16px; font-weight: 500;
    margin-top: 15px; margin-bottom: 15px;
    line-height: 1.5;
    letter-spacing: 0;
    word-spacing: 1px;
    font-family: var(--base-font);
}

main { 
    width: 100%;
    margin: 30px auto 30px auto;
    padding-top: 10px;
    padding-bottom: 0;
    em { font-style: italic; }
    strong { font-weight: 800; }
    span.highlight {
        color: var(--orange);
        font-weight: 700;
        line-height: 1.5;
        font-family: var(--alt-font);
        letter-spacing: -1px;
    }
    span.highlight-darker {
        color: var(--dark-orange);
        font-weight: 700;
        line-height: 1.5;
        font-family: var(--alt-font);
        letter-spacing: -1px;
    }
    ul.tags {
        list-style: none;
        padding: 0;
        text-align: center;
        margin-top: 30px;
        li {
            display: inline-block;
            font-size: 12px;
            font-weight: 800;
            background-color: var(--white);
            color: var(--dark-orange);
            border-radius: 50px;
            border: 1px solid var(--orange);
            padding: 2px 10px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin: 5px;
            font-family: var(--button-font);
        }
    }
    ul.features {
        padding: 0 10px 5px 20px;
        font-size: 16px; font-weight: 500;
        color: var(--dark-gray);
        li {
            font-size: 16px; font-weight: 500;
            line-height: 1.5;
            padding: 0 10px 10px 0;
            color: var(--dark-gray);
        }
    }
    p.projects-cta { width: 70%; font-size: 18px; text-align: center; margin: 20px auto; }
    .cta-button-spacing { margin: 30px auto 0 auto; }
    .cta-button {
        background-color: var(--orange); color: var(--white);
        border: 2px solid var(--orange); border-radius: 50px;
        font-family: var(--button-font);
        font-weight: 900; font-size: 16px; text-align: center;
        letter-spacing: 2px; text-transform: uppercase;
        padding: 10px 20px; margin: 0 auto;    
        text-decoration: none;
        width: fit-content; display: block;
        transition: 300ms;
        &:hover {
            background-color: var(--white); color: var(--dark-orange); transition: 300ms;
            box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.15);
            -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.15);
            -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.15);
        }
    }
    .cta {
        width: 82%; margin: 30px auto; padding: 10px;
        display: flex; flex-flow: row wrap; justify-content: center; align-items: center; align-content: center;
        p { width: 70%; font-size: 18px; text-align: center; }
        a.inline-link {
            color: var(--dark-orange);
            font-weight: 800;
            transition: 300ms;
        }
    }    
} 

@media screen and (max-width: 1100px){
    main .cta {  flex-flow: column wrap; gap: 10px; 
        p { width: 100%; }
    }
}

section { scroll-margin-top: 90px; }
 



/* Nav */

#my-header { margin-bottom: 51px;
    nav {
        padding: 10px 20px; margin-bottom: 40px;
        background-color: var(--white); border-bottom: 1px solid rgba(0,0,0,0.11);
        width: 100%;
        z-index: 1;
        font-weight: 800;
        button { outline: none; border: 0; box-shadow: none; }
        .navbar-brand { font-family: var(--alt-font); letter-spacing: -1px; color: var(--dark-gray); }
        .navbar-nav a {
            font-family: var(--base-font);
            font-weight: 800;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: var(--orange);
            transition: 300ms;
                &:hover { color: var(--dark-orange); transition: 300ms; }
            .disabled { color: rgb(118, 118, 118);
                &:hover { color: rgb(118, 118, 118); cursor: default; }
            }
        }
    }
}


@media screen and (max-width: 990px) {
    #my-header nav .navbar-nav { 
        height: 100vh; margin-top: 50px;
        a { text-align: center; font-size: 18px; margin: 20px auto; padding: 0;
            &:last-child { border-bottom: 0; }
        }
    }
}


/* Header */

main .header {
    width: 100%; padding: 50px 20px;
    background: rgb(98,98,98);
    background: -moz-radial-gradient(circle, rgb(90, 90, 90) 0%, rgba(60,60,60,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(90, 90, 90,1) 0%, rgba(60,60,60,1) 100%);
    background: radial-gradient(circle, rgba(90, 90, 90,1) 0%, rgba(60,60,60,1) 100%);
    display: flex; flex-flow: row wrap; justify-content: space-around; align-items: center; align-content: center;
    .greeting { width: 40%; }
    h1 { color: var(--white); margin: 10px auto; }
    h2 { color: var(--white); margin: 10px auto; }
    .header-buttons {
        display: flex; flex-flow: row wrap; justify-content: center; align-items: center; align-content: center; gap: 100px;
        margin: 50px auto 20px auto;
        a.my-button {
            background-color: var(--orange);
            color: var(--white);
            font-family: var(--button-font);
            font-weight: 900; font-size: 14px; text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 10px 20px;
            border-radius: 50px;
            border: 2px solid var(--orange);
            text-decoration: none;
            display: inline-block;
            box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
            -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
            transition: 300ms;
            &:hover {
                background-color: var(--white);
                color: var(--dark-orange);
                border: 2px solid var(--white);
                transition: 300ms;
            }
        }
        i { font-size: 14px; padding-left: 5px; }
    }
    .about { width: 50%;
        p { font-family: var(--base-font); color: var(--white);
            font-weight: 500; font-size: 18px;
        }
        strong { font-weight: 800; }
        a { font-weight: 800; color: var(--orange); text-decoration: none; transition: 300ms;
            &:hover { color: rgb(255, 226, 192); transition: 300ms; }
        }
    }
}

@media screen and (max-width: 768px) {
    main .header { flex-flow: column wrap; gap: 30px;
        .greeting { width: 100%; }
        .about { width: 90%; }
    }
}

@media screen and (max-width: 1024px) {
    main .header .header-buttons { gap: 30px; }
}

@media screen and (max-width: 768px) {
    main .header { 
        h1 { font-size: 30px; }
        h2 { font-size: 26px; }
    }
}



/* Skills */

main .skills { margin: 60px auto 30px auto;
    .gap { gap: 50px 0; }
    .skills-bar {
        width: 90%; margin: 30px auto 90px auto;
        display: flex; flex-flow: row wrap; justify-content: space-evenly; align-items: stretch; align-content: center;
        h4 { margin: 0 auto 20px auto; }
        p { font-size: 16px; font-weight: 500; text-align: center; }
        strong { font-weight: 800; }
        .icon { margin: 15px auto 20px auto; text-align: center; 
            i { font-size: 30px; line-height: 60px; text-align: center;
                width: 60px; height: 60px;
                border-radius: 50px;
                background-color: var(--orange); color: var(--white);
            }
        }
    }
    .skill {
        width: 27%; padding: 20px;
        transition: 300ms;
        border: 1px solid rgba(0,0,0,0.11); border-radius: 5px;
        &:hover {
            border: 1px solid var(--orange);
            box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11);
            -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11);
            -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11);
            transition: 300ms;
        }
    }
    .image { width: 100%; margin: 20px auto; 
        img {
            width: 100%;
            border: 1px solid rgba(0,0,0,0.11);
            border-radius: 5px;
            display: block;
            transition: 300ms;
            &:hover {
                opacity: 0.9;
                border: 1px solid var(--orange);
                box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11);
                -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11);
                -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11);
                transition: 300ms;
            }
        }
    }
    .no-border { border: 0; 
        &:hover { border: 0; transition: 300ms;
            box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
        }
    }
    .description { width: 100%; padding: 10px; 
        p { font-size: 16px; font-weight: 500; color: var(--dark-gray); }
    }
    p.left { text-align: left; margin-top: 10px; }
    h4.project-title { margin: 10px auto; text-transform: capitalize; }
    a.repo { background-color: var(--white); color: var(--orange); border: 2px solid var(--orange); }
    .project-desc {
        a { font-weight: 800; color: var(--dark-orange); transition: 300ms;
        &:hover { color: rgb(212, 123, 21); transition: 300ms; }
        }
        ul.projects { padding: 5px 10px 5px 30px; margin-top: 5px;
            li { padding: 5px; }
        }
    }
    .header-buttons {
        width: 100%; margin: 30px auto;
        display: flex; flex-flow: row wrap; gap: 0;
        justify-content: space-between; align-items: center; align-content: center;
    }
    a.project-button {
        background-color: var(--orange); color: var(--white);
        border: 2px solid var(--orange); border-radius: 50px;
        font-family: var(--button-font); font-weight: 900; font-size: 14px; text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase; text-decoration: none;
        width: fit-content; display: inline-block;
        padding: 8px 16px; margin: 0 5px;
        transition: 300ms;
        &:hover {
            background-color: var(--white);
            color: var(--dark-orange);
            box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.15);
            -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.15);
            -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.15);
            transition: 300ms;
        }
    }
}

@media screen and (max-width: 1366px) {
    main .skills .skills-bar { width: 100%; }
}

@media screen and (max-width: 1024px) {
    main .skills {
        .skills-bar { gap: 50px 0; }
        .skill { width: 40%; }
    }
}

@media screen and (max-width: 768px) {
    main .skills {
        .skill { width: 90%; }
        .image { width: 100%; }
        .description { width: 100%; }
    }
}









/* Timeline */

main .education-container { width: 90%; margin: 30px auto 90px auto;
    display: flex; flex-flow: row wrap; justify-content: space-between; align-items: flex-start; align-content: flex-start;
    .timeline {
        width: 49%; margin: 0; padding: 0;
        display: flex; flex-flow: column wrap; justify-content: center; align-items: flex-start; align-content: flex-start;
        .timeline-box {
            width: 100%; border-radius: 5px; color: var(--white);
            margin: 0 auto 50px auto; padding: 20px;
            background: rgb(255, 219, 175);
            background: -moz-radial-gradient(circle, rgb(255, 219, 175) 0%, rgb(255, 198, 132)100%);
            background: -webkit-radial-gradient(circle, rgba(255, 219, 175,1) 0%, rgba(255, 198, 132, 1) 100%);
            background: radial-gradient(circle, rgba(255, 219, 175,1) 0%, rgba(255, 198, 132, 1) 100%);
            transition: 300ms;
            &:hover {
                box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11); 
                -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11); 
                -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11);
                transition: 300ms;
            }
            p { margin: 10px 0 17px 0; font-size: 16px; display: block; text-align: left; }
            ul.features { margin-bottom: 0; }
            ul li a { color: #8F6330; 
                &:hover { opacity: 0.8; }
                &:visited { color: #8F6330; }
            }
            .details {
                width: 100%; margin: 0 auto 10px auto;
                display: flex; flex-flow: row wrap; justify-content: space-between; align-items: flex-start; align-content: center;
                h4 { width: 85%; text-align: left; padding: 0; margin: 0 auto; }
                p.date {
                    width: 15%; margin: 0 auto; padding-left: 10px;
                    font-size: 14px; font-weight: 800; text-align: right;
                }
            }
            .cert-links { margin: 0 auto 20px auto; padding: 0; text-align: left; display: block;
                a {
                    font-family: var(--button-font); text-decoration: none;
                    background-color: var(--dark-gray); color: rgb(255, 226, 192); border-radius: 50px;
                    font-weight: 900; font-size: 12px; text-align: center; letter-spacing: 2px;
                    padding: 10px 15px; margin: 5px;
                    display: inline-block;
                    text-transform: uppercase;
                    transition: 300ms;
                    box-shadow: 5px 5px 15px 0px rgba(143, 99, 48, 0.5);
                    -webkit-box-shadow: 5px 5px 15px 0px rgba(143, 99, 48, 0.5);
                    -moz-box-shadow: 5px 5px 15px 0px rgba(143, 99, 48, 0.5);
                    &:hover {
                        color: var(--white); transition: 300ms;
                        box-shadow: 5px 5px 15px 0px rgba(143, 99, 48, 0.9);
                        -webkit-box-shadow: 5px 5px 15px 0px rgba(143, 99, 48, 0.9);
                        -moz-box-shadow: 5px 5px 15px 0px rgba(143, 99, 48, 0.9);
                    }
                }
            }
        }
    }
}





/* Courses */

main .education-container .courses { width: 49%; padding: 0;
    details {
        padding: 10px; margin: 0 auto 30px auto;
        font-weight: 500; font-size: 16px;
        border: 1px solid rgba(0,0,0,0.15); border-radius: 5px;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.11);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.11);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.11); 
        summary {
            padding: 10px;
            font-weight: 500; font-size: 20px;
            line-height: 1.5;
            font-family: var(--alt-font);
            letter-spacing: -1px;
            cursor: pointer;
            color: var(--dark-gray);
        }
        summary::marker { color: var(--dark-orange); } 
        a {
            font-weight: 800;
            color: var(--dark-orange);
            font-size: 16px;
            transition: 300ms;
            &:hover { color: rgb(143, 99, 48); transition: 300ms; }
            &:visited { color: var(--dark-orange); }
        }
    }
    ul {
        padding: 5px 10px 5px 30px; margin-top: 10px;
        li { padding: 5px; }
    }
}

@media screen and (max-width: 968px){
    main .education-container { flex-flow: column wrap; justify-content: center; align-items: center; align-content: center; 
        gap: 30px; 
        .courses { width: 100%; }
        .timeline { width: 100%; margin-bottom: 0; 
            .timeline-box:last-child { margin-bottom: 20px; }
        }
    }
}




/* Work experience */

#experience .zigzag {
    width: 90%; margin: 50px auto 90px auto;
    display: flex; flex-flow: column wrap;
    gap: 50px;
    .icon { margin: 15px auto 20px auto; text-align: center; 
        i {
            font-size: 30px; text-align: center; line-height: 60px;
            width: 60px; height: 60px;
            border-radius: 50px;
            background-color: var(--orange); color: var(--white);
        }
    }
    .leftzig, .rightzig {
        display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center; align-content: stretch;
        transition: 300ms;
        background: rgb(98,98,98);
        background: -moz-radial-gradient(circle, rgb(90, 90, 90) 0%, rgba(60,60,60,1) 100%);
        background: -webkit-radial-gradient(circle, rgba(90, 90, 90,1) 0%, rgba(60,60,60,1) 100%);
        background: radial-gradient(circle, rgba(90, 90, 90,1) 0%, rgba(60,60,60,1) 100%);
        &:hover {
            box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11);
            -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11);
            -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11);
            transition: 300ms;
        }
        .zigdesc {
            width: 70%; align-self: stretch; padding: 20px;
            color: var(--dark-gray); background-color: var(--white); border-radius: 0 5px 5px 0;
            p { padding: 0 10px 15px 10px; margin: 0; }
        }
    }
    .zigtitles { width: 30%; padding: 20px; color: var(--white);
        .icon { margin: 15px auto 40px auto; }
        p.date {
            margin: 10px auto;
            text-transform: uppercase; letter-spacing: 2px;
            font-weight: 700; font-size: 12px; text-align: center; color: var(--white);
        }
        h4, h6 { color: var(--orange); margin: 10px auto; }
    }
}

@media(max-width: 768px) {
    #experience .zigzag { width: 80%;
        .zigtitles { width: 100%; order: 1; }
        .leftzig { flex-flow: column wrap; justify-content: center; align-items: center; align-content: center; gap: 0; }
        .zigdesc { order: 2; width: 100%; align-self: center; border-radius: 0 0 5px 5px; }
    }
}







/* Contact Form */

main #contact { margin-bottom: 90px;
    .contact-form { width: 90%; text-align: center; margin: 0 auto; padding-top: 10px; 
        form { margin-top: 50px; }
        label { display: block; margin: 10px auto;
            color: var(--dark-gray); font-family: var(--base-font);
            font-weight: 700; font-size: 18px; letter-spacing: 0; line-height: 1.5;
        }
        input {
            width: 30%; box-sizing: border-box; display: block;
            padding: 15px 20px; margin: 10px auto 50px auto;
            font-family: var(--base-font); color: var(--dark-gray); font-size: 18px;
            border: 2px solid rgb(184, 184, 184); border-radius: 5px;
            &:focus {
                border: 2px solid rgb(184, 184, 184);
                background-color: rgb(255, 240, 222);
                box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11);
                -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11);
                -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11);
            }
            &:autofill { background-color: rgb(255, 240, 222); }
            &:-webkit-autofill { background-color: rgb(255, 240, 222); }
        }
        textarea {
            width: 50%; height: 250px;
            padding: 15px 20px; margin: 10px auto 50px auto;
            box-sizing: border-box; display: block;
            font-size: 18px; font-family: var(--base-font); color: var(--dark-gray);
            border-radius: 5px; border: 2px solid rgb(184, 184, 184);
            &:focus {
                border: 2px solid rgb(184, 184, 184);
                background-color: rgb(255, 240, 222);
                box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11);
                -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11);
                -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.11);
            }
        }
        p.contact-link {
            font-size: 18px; font-weight: 700;
            font-family: var(--base-font); color: var(--dark-gray);
            margin: 15px auto 15px auto;
            letter-spacing: 0; word-spacing: 2px;
            a { color: var(--dark-orange); transition: 300ms; 
                &:hover { color: rgb(212, 123, 21); transition: 300ms; }
            }
        }

    }

}


main #contact .contact-form .contact-buttons {
    width: 50%; margin: 50px auto 20px auto;
    display: flex; flex-flow: row wrap; justify-content: space-evenly; align-items: center; align-content: center;
    gap: 0;
    i { font-size: 14px; padding-left: 5px; }
    button {
        background-color: var(--orange); color: var(--white);
        font-family: var(--button-font); font-weight: 900; font-size: 14px; text-align: center;
        letter-spacing: 2px; text-transform: uppercase; text-decoration: none;
        padding: 10px 20px;
        border-radius: 50px; border: 2px solid var(--orange);
        display: inline-block;
        transition: 300ms;
        &:hover {
            background-color: var(--white); color: var(--dark-orange); border: 2px solid var(--orange);
            cursor: pointer; transition: 300ms;
        }
        .reset {
            background-color: rgb(141, 141, 141); border: 2px solid rgb(141, 141, 141);
            &:hover { background-color: var(--white); color: rgb(141, 141, 141); }
        }
    }
}

@media screen and (max-width: 1366px) {
    main #contact .contact-form {
        input { width: 40%; }
        textarea { width: 60%; }
        .contact-buttons { width: 60%; gap: 30px; }
    }
}

@media(max-width: 768px) {
    main #contact .contact-form {
        input { width: 90%; }
        textarea { width: 90%; }
        .contact-buttons { width: 90%; }
    }
}
  




/* Back to top button */

#backButton {
    display: none; position: fixed; z-index: 98; padding: 0px;
    background-color: none; background: none;
    bottom: 20px; right: 30px;
    border: none; outline: none;
    color: var(--dark-orange);
    cursor: pointer;
    font-size: 18px;
    i {
        margin: auto;
        display: flex; justify-content: center; align-items: center;
        transition: 300ms;
        font-size: 20px; text-align: center;
        width: 50px; height: 50px; line-height: 50px; border-radius: 50px;
        background-color: var(--orange); color: var(--white);
        &:hover { background-color: var(--dark-orange); transition: 300ms; }
    }
}



/* Footer */

footer {
    width: 100%;
    color: var(--white);
    margin: 100px auto 0 auto; padding: 0;
    background: rgb(98,98,98);
    background: -moz-radial-gradient(circle, rgb(90, 90, 90) 0%, rgba(60,60,60,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(90, 90, 90,1) 0%, rgba(60,60,60,1) 100%);
    background: radial-gradient(circle, rgba(90, 90, 90,1) 0%, rgba(60,60,60,1) 100%);
    p {
        color: var(--white); font-family: var(--base-font);
        font-size: 14px; font-weight: 500; text-align: center; 
        margin: 0 auto; padding: 10px;
        text-transform: capitalize; letter-spacing: 0;
    }
}
